@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 254, 201;
  --background-end-rgb: 255, 254, 201;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 38, 38, 38;
    --background-start-rgb: 255, 254, 201;
    --background-end-rgb: 255, 254, 201;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* body-pieces */

body.firstiter {
  background-image: url('../public/images/carmelbackground.jpg');
  background-size: cover;
}

body.seconditer {
  background-color: rgba(0, 0, 0, .9);
  background-size: cover;
}

button:hover {
  cursor: pointer;
}

div.first {
  background-color: rgba(255, 255, 255, 0.5);
}

div.childFirst {
  background-color: rgba(51, 65, 85, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgba(51, 65, 85, 0.5);
}

/* transitions */

.landing-page {
  transition: transform 1s ease-in-out;
}

.slide-up {
  transform: translateY(-100%);
}

.scale-150 {
  transition: transform 0.3s;
  transform: scale(1.5);
}

/* images */
