@import 'tailwindcss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 254, 201;
  --background-end-rgb: 255, 254, 201;
  --chart-labels-color: 0, 0, 0
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 38, 38, 38;
    --background-start-rgb: 255, 254, 201;
    --background-end-rgb: 255, 254, 201;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .scrollbar-thin::-webkit-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  }
  .scrollbar-webkit {
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: var(--mainBack);
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 20px;
      border: 1px solid transparent;
    }
  }
}


@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

/* body-pieces */

body {
  background-image: url('../public/images/carmelbackground.jpg');
  background-size: cover;
}

button:hover {
  cursor: pointer;
}

.childFirstColor {
  background-color: rgba(51, 65, 85, 0.5);
}

div.childFirst {
  flex-grow: 1;
  overflow: hidden;
}

/* transitions */

.fade-in {
  animation: fadeIn 2s ease-out;
}

.fade-out {
  animation: fadeOut 1s ease-out;
}