@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 254, 201;
  --background-end-rgb: 255, 254, 201;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 38, 38, 38;
    --background-start-rgb: 255, 254, 201;
    --background-end-rgb: 255, 254, 201;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* body-pieces */

html, body {
  background-image: url('../public/images/carmelbackground.jpg');
  background-size: cover;
}

button:hover {
  cursor: pointer;
}

div.childFirst {
  background-color: rgba(51, 65, 85, 0.5);
  flex-grow: 1;
  overflow: hidden;
}

/* transitions */

.landing-page {
  transition: transform 1s ease-in-out;
}

.slide-up {
  transform: translateY(-100%);
}

.scale-150 {
  transition: transform 0.3s;
  transform: scale(1.5);
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
/* images */
